<h1>BIRTHDAY REMINDER APP</h1>
<h3>
  Taking away all the heavy lifting of trying to remember your loved-ones
  birthday(s).<br />
  Your brain is meant to process not remember!
</h3>

<a href="/signup"><button>Save birthdays</button></a>

<br />

<a href="/signup">Sign in</a>

<a href="/birthdays">See all birthdays</a>

<!-- <form action="/create-birthday" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  
    <label for="birthdate">Birthdate</label>
    <input type="date" name="birthdate" id="birthdate" required>
  
    <button type="submit">Save Birthday</button>
  </form>
  
  <p>Don't have an account yet? <a href="/signup">Sign up here</a></p> -->
