<h1>Save birthdays</h1>
<h3>
  Relief your brain of trying to remember everyone's birthday and let'S do the
  work for ya!
</h3>

<form action="/birthdays" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required />

  <label for="date">Date of Birth:</label>
  <input type="date" name="date" id="date" required />

  <button type="submit">Save Birthday</button>
</form>

<!-- <p>Don't have an account yet? <a href="/signup">Sign in here</a></p> -->
